body {
    background-color: cornflowerblue;
}

.style {
    background-color: black;
    width: 1500px;
    height: 1700px;
    border: 1px solid black;
}

.style div {
    width: 100px;
    height: 100px;
    background-color: blueviolet;
    margin: 20px;
    border: 4px solid rgb(43, 24, 50);
    border-radius: 30px;
    text-align: center;
    float: left;
}

#conteneurA :nth-child(5) {
    clear: both;
}

#conteneurA :nth-child(8) {
    clear: both;
}

#conteneurA :nth-child(10) {
    clear: both;
}





