/* Font-size -> taille de police 
px -> pixel -> valeur fixe
em -> valeur relative au parent : proportieonelle et permet aussi de gérer le responsive
rem -> valeur relative à la racine du document : recommandée */
 /* l'idéale c'est d'utiliser l'unité rem pour les font size, les margin et padding parceque ça permet de faciliter l'accéssibilité   */
/* L’unité rem signifie root element et dépend de la font-size fixée dans la balise <html>, qui sert de point de référence.
C’est pour l’utilisateur que le rem trouve son intérêt : depuis les paramètres de son navigateur, l’utilisateur contrôle la taille du texte. En modifiant la taille de police dans Chrome, par exemple, l’utilisateur s’attend à un confort de lecture qui lui convient. Faisons le test avec deux textes : l’un fixé en pixels, l’autre en rem.
/* Modifions la taille de police dans le navigateur pour Très grande. Seul le texte dont la taille est fixée en rem s’adapte. */
/* Donc 16px équivalent à 1rem : 1rem = 16px
=> si on veut exprimer une taille équivalente à 10px il faut appliquer la régle de trois (voir photo px-rem1 dans dossier img ) 
=> 10px équivalent à 0.625rem
*/

/* 
Il existe une façon plus intuitive d’écrire en rem pour que la conversion ne demande pas systématiquement un calcul. Il s’agit de modifier volontairement la taille de référence du navigateur, disponible dans l’élément racine <html> 
Par défaut, cette valeur est à 100%. Le constat est le suivant : si font-size vaut 100%, alors 1rem vaut 16px.
*/
/* On l’a vu plus haut, cela n’est pas pratique pour trouver des équivalences facilement.
La solution que vous verrez très souvent consiste à modifier la valeur de référence pour qu’elle corresponde à 10px. (voir photo px-rem2 dans dossier img ) */
/* En modifiant la valeur de référence de l’élément racine <html> à 62.5%,
=> 1rem vaudra 10px. 

*/
html{
    font-size: 62.25%;
}
/* :root {
                on peut aussi utiliser :root pour acceder a la racine (a la place de html{}) 
} */
/* :root{
    La pseudo-classe CSS :root permet de cibler la racine du document, soit la balise HTML
    quand je met la valeur en absolu en px et si j'utilise la fonctionnalité de settings chrome pour augmenter et déminuer l'ecriture ça ne fonctionnera pas parceque j'interdit l'héritage et je  lui dit je veux tout le temps que ça soit 10px  
    font-size: 10px; 
    Quand je met la valeur en pourcentage la taille de police indiquer sur le navigateur s'adaptera avec le paramétrage 
    font-size: 100%; 

} */

body {
    background-image: url(../img/fond.png);
    font-family: Arial, Helvetica, sans-serif; /* font save web */
}

/* style pour le container */
#container {
    background-color: #fff;
    width: 60%;
    margin: auto;
    border: 1px solid grey;
    box-shadow: 0 2px rgba(126,122, 122, .4);
}

h1 {
    font-size: 4.5rem;
    font-weight: bold;
    font-style: italic;
    text-transform: capitalize;
    position: relative;
    top: .5rem;
}

header .header1 h3 {
    color: pink;
    font-style: italic;
    font-size: 1.4rem;
    font-weight: lighter;
    margin: 1rem 0 0 0;

}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 0 1.3rem 0;
}



header .header1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 45%;
    
}

header .header1 h3:hover {
    color: darkviolet;
}

img[src="assets/img/logo1.png"] {
    margin: .8rem 2rem 2rem 1rem;
}

header .header2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    width: 25%;
}

header .header2 h2 {
    color: #3fc9fa;
    font-size: 2.3rem;
    margin: .8rem 0 .3rem 0;
    font-weight: lighter;
}

img[src="assets/img/aide.png"]{
    position: relative;
    width: 70%;
    z-index: 1;
}

img[src="assets/img/aide.png"]+p {
    font-size: 1.8rem;
    color: #3fc9fa;
    position: relative;
    left: 3.9rem;
    bottom: 1.95rem;
    z-index: 2;
}

.header2 :nth-child(4) {
    font-size: 1.2rem;
    font-style: italic;
    color: rgb(156, 154, 154);
    position: relative;
    top: -1rem;
}    


.header3 {
    width: 30%;
    display: flex;
    flex-direction: column;
    text-align: center;
}    

.header3>a {
    background-color: #3fc9fa;
    margin: 0 0 .3rem 0;
    font-size: 1.3rem;
    text-decoration: none;
    padding: .3rem 0 1rem 0;
    color: #fff;
}

.header3>div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header3 div {
    background-color: #3fc9fa;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-weight: lighter;
    font-size: 1.6rem;
    color: #fff;
}    
/* Style pour la navigation */
nav {
    background-color: #3fc9fa;
    display: flex;
    justify-content: space-evenly;
}    

nav a {
    font-size: 14px;
    line-height: 2.5rem;
    
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: #fff;    
}

nav a:hover {
    background-color: rgb(252, 139, 218);
}

.section1 img {
    width: 100%;
}

.section2 {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin: 1rem 0;
}

.section2 h3 {
    color: #3fc9fa;
    font-size: 1.4rem;
    font-weight: bold;
    margin: 1rem 0;  
}

.section2 .paiement {
    width: 20%;
    display: flex;
    flex-direction: column;
}

.section2 p {
    margin: -.5rem 0 1rem 0;
    font-size: 1.4rem;
}

.section2 .camion p {
    margin: 2rem 0 1rem 1.5rem;
}

.section2 .qsn {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 50%;
    border-right: .1rem solid grey;
    border-left: .1rem solid grey;
    padding: 0 1rem 0 1rem;
}

.camion {
    width: 25%;
    line-height: 1rem;
}

.section2 .camion>div {
    display: flex;
    justify-content: flex-start;
    
}

.section3 {
    display: flex;
    justify-content: space-between;
}

.section3 article {
    box-shadow: 1px 3px 7px 1px rgb(102, 102, 102);
    margin: 1rem 1rem 2rem;
    border-radius: .5rem; 
    width: 28rem;   
}

.section3 article h4 {
    background-color: darkgray;
    font-size: 1.3rem;
    border-radius: .5rem .5rem 0 0;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
    font-weight: bold;
}

.section3 article a {
    color:#3fc9fa;
    position: relative;
    left: 14.5rem;
    bottom: -.5rem;
}

.section3 article .voir {
    position: relative;
    left: 16rem;
}

.section3 article img {
    margin: 1.5rem 1rem 1rem 1rem;
    width: 6.5rem;
    height: 7.5rem;
}

.section3 article p {
    font-size: 1.3rem;
    width: 100%;
    margin: 1rem 0;
}

.section3 article .dispositionArticle {
    display: flex;
    justify-content: space-between;
}

footer {
    background-color: #3fc9fa;
    align-items: center;
    display: flex;
    justify-content: center;
    height: 3rem;
}

footer a {
    text-decoration: none;
    color: #fff;
    padding: .3rem;
    font-size: 1.2rem;
}